# macOS
.DS_Store

# Eclipse
.metadata/
.settings/
.classpath
.project

# Java compiled files
*.class
bin/
out/

# NetBeans private files
**/nbproject/private/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/node_modules/
.vscode/
venv/
*.keystore

# VS Code
.vscode/

# Python
venv/
__pycache__/
*.pyc
__pycache__/
*.pyc
tempCodeRunnerFile.py
