# FastAPI / App
UVICORN_APP=main:app
ENV=development

# Database connection (must match db service in docker-compose)
DATABASE_URL=postgresql+psycopg://user_name:db_password@db:5432/db_name

# Auth / Secrets (to be updated later)
SECRET_KEY=secret_key
JWT_ALGORITHM=HS256
AUTH0_DOMAIN=your-auth0-domain.auth0.com
AUTH0_API_AUDIENCE=https://your-api-identifier

# Optional (for logging or debugging)
LOG_LEVEL=info
